@{
  ViewData["Title"] = "Blogs";
}

<h1>Blogs</h1>
<hr/>

<img class="img-responsive" src="/images/Security.jpg" />

<div>
<h2>Security<h2>
  <p>
    <a href="https://www.wired.com/category/threatlevel">Threat level</a>
  </p>
  <p>
    <a href="https://www.troyhunt.com/">Troy Hunt</a>
  </p>
  <p>
    <a href="http://krebsonsecurity.com/">Krebs on security</a>
  </p>
  <p>
    <a href="https://www.schneier.com/">Schneier On Security</a>
  </p>
  <p>
    <a href="http://securityaffairs.co/wordpress/">Security Affairs</a>
  </p>
  <p>
    <a href="http://www.darkreading.com/">Dark Reading</a>
  </p>

</div>

