@section Styles {
  <link rel="stylesheet" href="/css/clickjacking.css" />
}

<div id="frame">
  <iframe src="https://www.u2u.be"></iframe>

  <input id="bait" type="button" value="Win 100000!"/>



</div>

<hr />
<md path="~/markdown/clickjacking.md" >
</md>
