@{
    ViewData["Title"] = "Using Nonces";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This page is running inline script and styles.</p>
<p>Here scripts and styles are blocked by CSP.</p>
<p>Please check the Console of your browser.</p>

@section Styles {
<style>
p {
  color: deepskyblue;
}
</style>
}

@section Scripts {
  <script>alert('Unsafe Inline go!');</script>
}
